version: "3.8"
services:
  web:
    build:
      dockerfile: ./Dockerfile
      context: .
    command: python manage.py runserver_plus 0.0.0.0:8000
    volumes:
      - .:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./docker/python/.env.dev
      - ./.env.dev
    depends_on:
      - db
      - redis
    restart: always

  worker:
    build:
      dockerfile: ./Dockerfile
      context: .
    command: python manage.py rqworker default
    volumes:
      - .:/usr/src/app/
    env_file:
      - ./docker/python/.env.dev
      - ./.env.dev
    depends_on:
      - db
      - redis
    restart: always

  migrate:
    build:
      dockerfile: ./Dockerfile
      context: .
    command: python manage.py migrate
    volumes:
      - .:/usr/src/app/
    env_file:
      - ./docker/python/.env.dev
      - ./.env.dev
    depends_on:
      - db
      - redis
    restart: "no"

  db:
    image: postgres:latest
    volumes:
      - ./dump:/dump
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "15432:5432"
    env_file:
      - ./docker/db/.env.dev

  redis:
    image: redis
    ports:
      - "16379:6379"

volumes:
  postgres_data: