{% extends 'core/base.html' %}
{% block page_title %}Home - {{ super }}{% endblock %}
{% block page_body %}
    {% if not object.processed %}
    <p>This deck is still being processed, refresh the page to check for updates.</p>
    {% endif %}

    {% for image in object.images.all %}
        {{ image.url }}
        <img src="{{ image.image.url }}" width="800" />
    {% endfor %}

    {% if object.original %}
    <p>
        <a href="{{ object.original.url }}">View original</a>
    </p>
    {% endif %}
{% endblock %}